@charset "ISO-8859-1";
html, body {
  height: 100%;
  margin: 0;
}

#page {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 2.5rem;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #E8E8E8;
   color: black;
   text-align: center;
}

#post_entries, #member_entries
{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#post_entries td, #post_entries th, #member_entries td, #member_entries th
{
  border: 1px solid #ddd;
  padding: 8px;
}

#post_entries tr:nth-child(even), #member_entries tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#post_entries tr:hover, #member_entries tr:hover
{
	background-color: white;
	  color: blue;
}

#post_entries th, #member_entries th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e3f2fd;
  color: black;
}


