<?xml version='1.0' encoding='ISO-8859-1' ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Motion Devices</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>
 
<h:body> 
<ui:composition template="/layouts/commonLayout.xhtml">
<ui:define name="content">
 
	<h1 align='center'>Report 2 - Place Holder</h1>
	
	<div style="width: 75%; height: 300px; margin-left: auto; margin-right: auto;">
		<p:chart type="line" model="#{chartDataBean.drawArea}" style="height:300px" />
	</div>
	
	<script>
	$(document).ready( function () {
		$('#post_entries').DataTable();
	} );
	</script>
	
	<div class="container">
		<div align="center">
			<h1>Report Info</h1>
			<hr/>
		</div>
		<h:dataTable value="#{motion}" var="motion" styleClass="post_entries" id="post_entries">
			<h:column>    				
				<f:facet name = "header">ID</f:facet>    				
				#{motion.device_id}
			</h:column>
			<h:column>
				<f:facet name = "header">Motion Tics</f:facet>
				#{motion.id}
			</h:column>
			<h:column>
				<f:facet name = "header">Time Stamp</f:facet>
				#{motion.triggered_timestamp}
			</h:column>
		</h:dataTable>
	</div>
</ui:define>
</ui:composition>
</h:body>  
</html>  