<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Add Album Response</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">
			<h1 align='center'>Add Music Album Response</h1>
			<center>
				<p>Artist: #{album.artist}</p>
				<p>Title: #{album.title}</p>
				<p>Year: #{album.year}</p>
				<p>Track Count: #{album.numberTracks}</p>
				<hr />
				<h:dataTable value="#{album.tracks}" var="track" styleClass="AlbumTracks" id="post_entries">
					<h:column>    				
						<f:facet name = "header">Title</f:facet>    				
						#{track.title}
					</h:column>
					<h:column>
						<f:facet name = "header">Number</f:facet>
						#{track.number}
					</h:column>
				</h:dataTable>
				<h:form id="form2">
					<br />
					<h:commandButton action="AddAlbumForm.xhtml" value="Add Another" />
					<h:messages />
				</h:form>
			</center>
        </ui:define>
    </ui:composition>
</h:body>
</html>