<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	  
<ui:composition template="/layouts/commonLayout.xhtml">
<ui:define name="extrastyles">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<title><ui:insert name="pageTitle">Motion Devices</ui:insert></title>
</ui:define>

<ui:define name="content">

<style>
  .button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
  }
</style>


<script>
$(document).ready( function () {
	$('#post_entries').DataTable();
} );
</script>

<div class="container">
	<div align="center">
	    <h1>Device Listing</h1>
	    <hr />
	</div>

	<h:dataTable value="#{devices}" var="device1" styleClass="post_entries" id="post_entries">
		<h:column>    				
			<f:facet name = "header">ID</f:facet>    				
			<h:outputText value="#{device1.id}" />
		</h:column>
		<h:column>
			<f:facet name = "header">Code</f:facet>
			<h:outputText value="#{device1.code}" />
		</h:column>
		<h:column>
			<f:facet name = "header">Name</f:facet>
			<h:form><h:commandLink value="#{device1.name}" action="#{deviceController.getMotions(device1)}" /></h:form>
		</h:column>
		<h:column>
			<f:facet name = "header">User ID</f:facet>
			<h:outputText value="#{device1.user_id}" />
		</h:column>
		<h:column>
			<f:facet name = "header">Activated</f:facet>
			<h:outputText value="#{device1.activated}" />
		</h:column>
	</h:dataTable>
<h:form><h:commandLink value="#{devices[1].name}" action="#{deviceController.getMotions(devices[1])}" /></h:form>

</div>
</ui:define>
</ui:composition>
</html>