<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Login</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">
			<div class="container">
				<h:form id="form1">
					<div align="center">
					    <h1>Login Form</h1>
					    <p>Please fill in this form to login to the application.</p>
					    <hr />
					</div>
					<div align='center' style = "color:red">#{message}</div>					
					<div align='center' style = "color:red">#{sessionScope['user'].role_id}</div>					
					<div class="row">
						<div class="col"></div>
						<div class="col-3">
							<div class="form-floating mb-3 mt-3">
			    			    <h:inputText a:type="email" class="form-control" a:placeholder="Enter email address" id="email" value="#{user.email}" a:required="true"/>
			    			    <label for="email" class="form-label">Email:</label>
								<h:message for="email" style = "color:red" /> 
							</div>
						</div>
						<div class="col"></div>
					</div>
					<div class="row">
						<div class="col"></div>
						<div class="col-3">
							<div class="form-floating mb-3 mt-3">
							    <h:inputText a:type="password" class="form-control" a:placeholder="Password Length 8 minimum" id="password" value="#{user.password}" a:pattern=".{8,}" a:required="true" />
				    			<label for="password" class="form-label">Password:</label>
								<h:message for="password" style = "color:red" /> 
							</div>
						</div>
						<div class="col"></div>
					</div>
					<div align='center'>
						<h:commandButton action="#{loginController.login(user)}" value="Login" />
					</div>
				</h:form>
			</div>
        </ui:define>
    </ui:composition>
</h:body>
</html>