<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Motion Devices</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">

<style>
  .button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
  }
</style>

<script>
$(document).ready( function () {
	$('#post_entries').DataTable();
} );
</script>

<div class="container">
	<div align="center">
	    <h1>Device Listing</h1>
	    <hr />
	</div>
	<h:dataTable value="#{devices}" var="device" styleClass="post_entries" id="post_entries">
		<h:column>    				
			<f:facet name = "header">ID</f:facet>    				
			#{device.id}
		</h:column>
		<h:column>
			<f:facet name = "header">Code</f:facet>
			#{device.code}
		</h:column>
		<h:column>
			<f:facet name = "header">Name</f:facet>
			#{device.name}
		</h:column>
		<h:column>
			<f:facet name = "header">User ID</f:facet>
			#{device.user_id}
		</h:column>
		<h:column>
			<f:facet name = "header">Activated</f:facet>
			#{device.activated}
		</h:column>
	</h:dataTable>


</div>
        </ui:define>
    </ui:composition>
</h:body>
</html>