<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Motion Devices</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">
			<h1 align='center'>Report 1 - Place Holder</h1>
        </ui:define>
    </ui:composition>
</h:body>
</html>