<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Logout</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">
			<div class="container">
				<h:form id="form1">
					<div align="center">
					    <h1>Logout Form</h1>
					    <p>Are you sure you want to log out of the application.</p>
					    <hr />
					</div>
					<div align='center'>
						<h:commandButton action="#{loginController.logout()}" value="Logout" />
					</div>
				</h:form>
			</div>
        </ui:define>
    </ui:composition>
</h:body>
</html>