<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.xhtml">Motion Devices</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
		<li class='nav-item'><a class='nav-link active' aria-current='page' href='index.xhtml'>Home</a></li>
		
		<!-- If logged in add additional menus items for the application -->
		<ui:fragment rendered="#{sessionScope['user'] != null}">
			<li class='nav-item'><h:form><h:commandLink class='nav-link active' aria-current='page' value="Devices" action="#{deviceController.getDeviceListing()}" /></h:form></li>
			
			<li class='nav-item dropdown'>
			    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>Reports</a>
			    <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
					<li><a class='dropdown-item' href='report1.xhtml'>Report 1...</a></li>
					<li><hr class='dropdown-divider' /></li>
					<li><a class='dropdown-item' href='report2.xhtml'>Report 2...</a></li>
			    </ul>
			</li>
		</ui:fragment>
				
		<li class='nav-item dropdown'>
		    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>Account</a>
		    <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
				<ui:fragment rendered="#{sessionScope['user'] == null}">
					<li><a class='dropdown-item' href='register.xhtml'>Registration...</a></li>
					<li><hr class='dropdown-divider' /></li>
					<li><a class='dropdown-item' href='login.xhtml'>Login...</a></li>
				</ui:fragment>
	
				<ui:fragment rendered="#{sessionScope['user'] != null}">
					<li><h:form><h:commandLink class='dropdown-item' value="Log Out..." action="#{loginController.logout()}" /></h:form></li>
				</ui:fragment>
	
	
	
		    </ul>
		</li>

		<!-- If other than normal users add administrative menu options -->
		<ui:fragment rendered="#{sessionScope['user'].role_id > 1}">
			<li class='nav-item dropdown'>
			    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>Administrator</a>
			    <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
					<li><h:form><h:commandLink class='dropdown-item' value="User Module..." action="#{adminController.getUserListing()}" /></h:form></li>
					<li><hr class='dropdown-divider' /></li>
					<li><h:form><h:commandLink class='dropdown-item' value="Device Module..." action="#{adminController.getDeviceListing()}" /></h:form></li>
			    </ul>
			</li>
		</ui:fragment>

	    </ul>

		<!-- If logged in user - add box with user name to the right side of the menu -->
		<ui:fragment rendered="#{sessionScope['user'] != null}">
			<ul class='navbar-nav d-flex'>
				<li class='nav-item'>
					<p class='nav-link btn btn-outline-success'>#{sessionScope['user'].firstname} #{sessionScope['user'].lastname}</p>
				</li>
			</ul>
		</ui:fragment>

    </div>
  </div>
</nav>

<!-- Put the Store Name / Title Here -->
<div align="center">
	<br /><h:graphicImage value = "resources/Images/logo.jpg" alt="Motion Devices Logo" />
	<hr />
</div>

<style>
.form-floating > .form-control::placeholder {
    color: revert;
}

.form-floating > .form-control:not(:focus)::placeholder {
    color: transparent;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</ui:composition>
</html>
