<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
    	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	    <!-- Required meta tags -->
	    <meta charset='utf-8' />
	    <meta name='viewport' content='width=device-width, initial-scale=1' />
	
	    <!-- Bootstrap CSS -->
	    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous' />
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css" />
	    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>

    <h:body>
        <div id="page">
            <div id="header">
                <ui:insert name="header">
                    <ui:include src="/layouts/commonHeader.xhtml" />
                </ui:insert>
            </div>
            <div id="content">
                <ui:insert name="content">
                    <ui:include src="/layouts/commonContent.xhtml" />
                </ui:insert>
            </div>
            <div id="footer">
                <ui:insert name="footer">
                    <ui:include src="/layouts/commonFooter.xhtml" />
                </ui:insert>
            </div>
        </div>
    </h:body>

</html>
