<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="pageTitle">Add Music Album</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">
			<h1 align='center'>Add Music Album</h1>
	
			<center>
				<h:form id="form1">
					<h:outputText value="Artist: " />
					<h:inputText id="artist" value="#{album.artist}" />
					<h:message for="artist" style = "color:red" /> 
					<br />
					<br />
					<h:outputText value="Title: " />
					<h:inputText id="title" value="#{album.title}" />
					<h:message for="title" style = "color:red" /> 
					<br />
					<br />
					<h:outputText value="Year: " />
					<h:inputText id="year" value="#{album.year}" minlength="4" />
					<h:message for="year" style = "color:red" /> 
					<br />
					<br />
					<h:commandButton action="#{albumController.onSubmit(album)}" value="Add Album" />
					<h:commandButton action="#{albumController.onFind(album)}" value="Find Album" />
					<h:messages style = "color:red;margin:8px;" /> 
				</h:form>
			</center>

        </ui:define>
    </ui:composition>
</h:body>
</html>