<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title><ui:insert name="pageTitle">Add Album Response</ui:insert></title>
</h:head>
<h:body>
	<h1 align='center'>Add Music Album Response</h1>
	
	<center>
		<h:form id="form2">
			<p>Title: #{album.title}</p>
			<p>Artist: #{album.artist}</p>
			<p>Year: #{album.year}</p>
			<br />
			<h:commandButton action="AddAlbumForm.xhtml" value="Add Another" />
			<h:messages />
		</h:form>
	</center>




</h:body>
</html>